<h1>Videos</h1>

<ul id="video-list">
  <% @videos.each do |video| %>
    <li class="video" id="video-<%= video.id %>">
      <%= video.title %>
      | <%= link_to "Edit", edit_video_path(video) %>
    </li>
  <% end %>
</ul>

<%= render 'form' %>
